<h2>Id carrito:</h2>

<a href="/">Volver</a>
<div id="productContainer">
  {{#each productos}}
    <div>
      <p><b>id:</b>{{this._id}}</p>
      {{#if this.idProducto}}
        <p><b>Titulo: </b>{{this.idProducto.title}}</p>
        <p>${{this.idProducto.price}}</p>
        <p><b>Descripcion: </b>{{this.idProducto.description}}</p>
        <p><b>Stock: </b>{{this.idProducto.stock}}</p>
        <p><b>Category: </b>{{this.idProducto.category}}</p>
        <img src={{this.idProducto.thumbnail}} alt="" />
      {{else}}
        <p><b>Producto no disponible</b></p>
      {{/if}}
    </div>
    <hr />
  {{/each}}
</div>
