<a href="/">Volver</a>
<h2>Id carrito: {{render.idCarrito }} </h2>
<h3>total: ${{render.total}} </h3>
<div id="productContainer">
  {{#each render.productos}}
    <div>
      {{#if this.idProducto}}
        <p><b>Titulo: </b>{{this.idProducto.title}}</p>
      <p><b>cantidad: </b>{{this.quantity}}</p>
        <p>precio: ${{this.idProducto.price}}</p>
        <p><b>Descripcion: </b>{{this.idProducto.description}}</p>
         
        <img src={{this.idProducto.thumbnail}} width="200" />
      {{else}}
        <p><b>El producto ah sido retirado de la tienda</b></p>
      {{/if}}
    </div>
    <hr />
  {{/each}}

</div>
